<h1>
    Login de usuarios XML
</h1>

<form method="post">
    <label>Introduce el nombre:</label>
    <input type="text" name="nombre" class="form-control"/>
    <label>Introduce la contraseña:</label>
    <input type="password" name="contrasenia" class="form-control"/>
    <button class="btn btn-success my-4">Iniciar sesion</button>
</form>

<p class="text-danger">@ViewData["MENSAJE"]</p>
